body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #282D35;
}
nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}
.nav--logotext, .nav--title {
  margin: 0;
}
.nav--logotext {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}
.nav--title {
  color: #DEEBF8;
  font-weight: 600;
}
.nav--image {
  height: 40px;
  margin-right: 7px;
}
/* this is a bit broken cause i dont have same image */
main {
  padding: 57px 27px;
  color: #FFFFFF;
  background-image: url('./images/react-gray.png');
  background-repeat: no-repeat;
  background-position: right 75%;
}
.main--title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}
.main--ul {
  margin-top: 46px;
  max-width: 400px;
}
.main--ul > li {
  padding-block: 10px;
}
.main--ul > li::marker {
  font-size: 1.4rem;
  color: #61DAFB;
}

/*TILT*/
/* credit: Joshua Johnson https://designshack.net/articles/css/joshuajohnson-2/ */
.tilt {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.tilt:hover {
  -webkit-transform: rotate(-30deg);
     -moz-transform: rotate(-30deg);
       -o-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
}