body {
  font-family: 'Inter', sans-serif;
  display: flex;
  height: 100%;
  flex-direction: column;
}
nav {
  background-color: black;
  color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.smallFoot {
  margin-top: auto;
  padding: 1rem;
  font-size: small;
}
.nav-items {
  list-style: none;
  font-weight: bold;
  display: flex;
}

.navImage {
  width: 80px;
}

.nav-items > li {
  padding: 10px;
}

/*TILT*/
/* credit: Joshua Johnson https://designshack.net/articles/css/joshuajohnson-2/ */
.tilt {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.tilt:hover {
  -webkit-transform: rotate(-30deg);
     -moz-transform: rotate(-30deg);
       -o-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
}